.searchBox {
  border: none;
  background-color: transparent !important;
    outline: 0;
    font-size: 25px;
    height: 30px;
    width:100%;
    text-align: center;
}

.searchBox form input[type=text]:focus {
    border: none;
    background-color: transparent !important;
    outline: 0;
    font-size: 25px;
    height: 30px;
    text-align: center;
}

.center { 
  height: 40px;
  width: 300px; 
  overflow: auto;
  margin: auto; 
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0; 
}

.searchBoxParent{
    position: absolute;
    right: 0px;
    bottom: 50px;
    width: 100%;
}